@import "../blocks/common/header/header"
@import "../blocks/common/footer/footer"
@import "main"
@import "work"
@import "freelancers"
@import "worktap"
@import "reactive"
@import "../blocks/common/navbar/navbar"
*
 margin: 0
 padding: 0
 box-sizing: border-box

 a
  cursor: pointer
  text-decoration: none